.borderless {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.4em;
  }
  
  .borderless:hover {
    text-decoration: underline;
  }
  
  .bordered {
    padding: 30px 30px;
    background-color: white;
    stroke: black;
    color: red;
    border: black solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .bordered:hover {
    background-color: aliceblue;
  }
  